# Google Apps Script Web App URL
# Copy this file to .env.local and it will be used automatically
# 
# Your deployed Google Apps Script web app URL:
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxF__F9gaSOq107B7x8pXXwcie0ReJGVnJh_5dvP98aIJEkRlP_SEfgg5ZEuc_P1kA/exec
